@import url("normalize.css");
*{
	box-sizing: border-box;
}
body{
	font-family: "微软雅黑";
}

a{
	text-decoration: none;
	color: #333;
}

ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

li{
	margin: 0;
	padding: 0;
}

.w{
	width: 1200px;
	margin: 0 auto;
	background-color: lightcyan;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear:after{
	content: "";
	display: block;
	clear: both;
}

/*slide-ad*/
	.aside-ad{
		width: 80px;
		height: 435px;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 999;
		display: none;
	}


/*nav*/
	nav{
		width: 100%;
		height: 38px;
		line-height: 38px;
		background-color:#535353;
	}
	
	nav ul{
		/*background-color: black;*/
		float: left;
	}
		
	nav ul li{
		margin:0 10px;
		float: left;
		height: 38px;
	}
	
	nav ul li a{
		font-size: 12px;
		color: white;
	}
	
	nav .wechat{
		position: relative;
		top: 6px;
		right: 20px;
	}
	
/*logo*/
	header{
		height: 115px;
		/*background-color: dimgray;*/
		width: 1200px;
		line-height: 115px;
	}
	
	header .logo{
		height:115px ;
		width: 237px;
	}

	header .ad-text{
		margin: 0 40px;
	}
	
	header .ad-text a{
		color: black;
		font-weight: 200;
		letter-spacing: 4px;
	}
	
	header .ad{
		margin:0 20px;
	}
	
	header .ad img{
	position: relative;
	top: 8px;
}

/*banner*/
	.banner{
		width: 1200px;
		height: 336px;
		background-color: gray;
		position: relative;
	}
	
	.banner a img{
		width: 1200px;
		height: 336px;
		position: absolute;
		left: 0;
		top: 0;
	}
	
	.banner .points{
		position: absolute;
		bottom: 20px;
		left: 50%;
	}
	
	.banner .points span{
		display: block;
		width: 10px;
		height: 10px;
		background-color: white;
		z-index: 100;
		float: left;
		margin:0 15px;
		border-radius: 50%;
	}
	
	.banner .points span.active{
		background-color: darkgray;
	}
	
/*class-ad*/
	
	/*左侧菜单组*/
	.class-ad{
		height: 452px;
		margin-top: 40px;
		/*background-color: gainsboro;*/
		position: relative;
	}
	
	.class-ad .class-list{
		width: 218px;
		height: 452px;
		/*background-color: dimgray;*/
		box-sizing: border-box;

	}
	
	.class-ad  .class-nav{
		height: 40px;
		background-color: skyblue;
		width: inherit;
		line-height: 40px;
		text-align: center;
	}
	
	.class-ad  .class-nav a{
		font-size: 18px;
		color: white;
	}
	
	.class-ad .class-list ul{
		/*text-align: center;*/
		border: 1px solid  #dddddd;
		line-height: 40px;
		height: 412px;
		box-sizing: border-box;
	}
	.class-ad .class-list ul li{
		height: 40px;
		border-bottom: 1px solid #dddddd;
	}
	.class-ad .class-list ul li a{
		padding:0 20px;
	}
	
	.class-ad .class-list ul li.active{
		background-color: lightgray;
	}
	
	.class-ad .class-list ul li.active a{
		color: white;
	}
	
	/*左侧菜单展开内容*/
	
	.class-ad .class-group{
		 width: 780px;
		 height: 452px;
		 position: absolute;
	 	 left: 220px;
		 top: 0;
		 z-index: 999;
		 /*display: none;*/
	}
	
	.class-ad .class-group .item{
		width: 100%;
		height: 452px;
		position: absolute;
		left:0px;
		top: 0;
		display: none;
		background-color: gainsboro;
	}
	
	.class-group .little-text{
		width: 300px;
		height: 40px;
		margin: 40px 40px;
		border-top: 1px solid black;
		box-sizing: border-box;
		padding: 0px 20px;
	}
	
	/*中间新闻组*/
	.class-ad .class-news{
		height: 452px;
		width: 730px;
		/*background-color:cornflowerblue;*/
		margin-left: 24px;
		z-index: 999;
	}
	
	
 	.class-news .top{
		height: 40px;
		/*background-color: indianred;*/
		line-height: 40px;
		border-bottom: 1px solid gray;
	}
 	.class-news .top ul{
 		height: inherit;
 	}
	
	.class-news .top ul li{
		float: left;
		line-height: 40px;
		margin: 0 20px;
	}
	.class-news .top ul li.active{
		font-weight: bolder;
		border-bottom: 2px red solid;
	}
	
	.class-news .top ul li:hover{
		/*background-color: black;*/
	}
	
	.class-news ul li a{
		color: black;
	}
	
	.class-ad .contenxt{
		height: 370px;
		width: 100%;
		position: relative;
		margin-top:10px;
	}
	
	.class-ad .contenxt .item{
		width: inherit;
		height: 370px;
		position: absolute;
		top: 0;
		left: 0;
	}
	/*.class-ad .contenxt .item:nth-child(1){
		background-color: gray;
	}
	.class-ad .contenxt .item:nth-child(2){
		background-color: blue;
	}
	.class-ad .contenxt .item:nth-child(3){
		background-color: green;
	}*/
	
	.class-ad .contenxt .small-item{
		width: 320px;
		height: 70px;
		margin-right: 40px;
		margin-top: 30px;
	}
	.class-ad .contenxt .small-item .img {
		width: 50px;
		height: 70px;
	}
	
	
	.class-ad .contenxt .small-item .img img{
		height: 50px;
		width: 50px;
		border-radius: 50%;
	}
	.class-ad .contenxt .small-item .img p{
		font-size: 10px;
		color: #333;
		text-align: center;
		margin: 0;
	}
	.contenxt .small-item .text {
		width: 260px;
		height: inherit;
		margin-left: 8px;
		padding: 10px;
		box-sizing: border-box;
	}
	
	.contenxt .small-item .text a{
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		line-height: 20px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.contenxt .small-item .text p{
		font-size: 10px;
		color: #333;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	
	
	
	/*右侧广告组*/
	
	.class-ad .class-hot{
		width: 200px;
		height: inherit;
		/*background-color: darkgreen;*/
	}
	
	.class-hot .text-title{
		height: 14px;
		text-align: center;
		line-height: 0;
	}
	
	.class-hot .item{
		width: 200px;
		height: 130px;
		margin-top: 10px;
	}
	
/*new-class*/
	.new-class{
		height: 300px;
		background-color: gainsboro;
		margin-top: 46px;
		box-sizing: border-box;
		position: relative;
	}
	
	.class-title{
		height: 30px;
		width: 100%;
		/*background-color: cornflowerblue;*/
		border-bottom: 1px solid gray;
	}
	
	
	.class-title .list ul li.active{
		font-weight: bolder;
		border-bottom: 2px red solid;
	}
	
	.class-title a{
		font-size: 24px;
	}
	.new-class .list ul{
		float: right;
		height: 32px;
		line-height: 32px;
		margin-right: 28px;
	}
	.new-class .list ul li{
		float: left;
		margin-left: 40px;
	}
	.new-class .list ul li a{
		font-size: 16px;
	}
	
	.new-group{
		width:1200px ;
		height: 234px;
		/*background-color: gray;*/
		margin-top: 36px;
		position: relative;
	}
	.new-class .image{
		position: absolute;
		left: 0;
		top: 0;
		width:1200px ;
		height: 234px;
		margin:0 10px 0 8px;
	}
	.image .border{
		width: 270px;
		height: 234px;
		float: left;
		margin-right:34px;
	}
	.border:last-child{
		margin-right: 0px;
	}
	.ad-image{
		width: 270px;
		height: 180px;
		position: relative;
		float: left;
		overflow: hidden;
	}
	
	.ad-image img{
		width: 270px;
		height: 180px;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.border .text{
		width: 270px;
		height: 52px;
	}
	.border .text .h-1{
		font-size: 14px;
		font-weight: 400;
	}
	
	.border .text p{
		font-size: 10px;
		margin-top: 6px;
	}
	
<!--class-price-->
<!--teacher-->
<!--student-->
<!--job-->
<!--honor-->
<!--school-->
<!--cooperation-->
<!--footer-->



